-# nested_start
.col-md-6
  %div{class: 'panel panel-'+ (i.kind_of?(Integer) ? 'success' : 'info')}
    .panel-heading
      = i
      сотрудник
      %span.toright
        -# Кнопка для удаления связи сотрудник-проект. См. worker_projects_helper
        = link_to_remove_worker(fr)
      .clearfix
    .panel-body
      .row
        .col-md-6
          .form-group
            = fr.label :worker_id
            = fr.select(:worker_id,
            options_for_select(worker_options, fr.object.worker_id),
            {}, class: 'form-control')
            -# worker_options ищите в worker_heper
            = fr.error_messages_for(:worker_id)
-# nested_finish
